.movie-card {
  width: 18rem;
}

.card-title h1 {
  font-size: 1.2em;
  font-family: "Oswald", sans-serif;
}

.card-description {
}

.genre-badge {
  background-color: #ff0075;
}

.card-img-top {
  height: 17rem;
  object-fit: contain;
}
