.movie-card {
    width: 20rem;
    margin: 2rem 0;
}

.card-body {
    padding: 20rem;
}

.card-title h1 {
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
}

.card-description {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.release-badge {
    background-color: #4717f6;
}

.card-description {
    font-size: 1rem;
}

.card-img-top {
    // width: 100%;
    height: 17rem;
    object-fit: contain;
}

.to-movie-view {
    background-color: #4717f6;
    color: white;
    padding: 0 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    justify-content: center;
    user-select: none;
    vertical-align: middle;
    cursor: pointer;
}
