.movie-view h1 {
  font-size: 3em;
  font-family: "Oswald", sans-serif;
  margin: 1.5rem 0;
}

.movie-view h2 {
  font-size: 1.25em;
}

.movie-view h3 {
  font-size: 1em;
  margin-top: 1.5rem;
}

.movie-description {
  font-size: 1rem;
}

.fav-button {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  margin-top: 3rem;
  background-color: #ff0075;
  color: white;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  display: inline-block;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  cursor: pointer;
}
