.movie-view h1 {
  font-size: 3em;
  font-family: "Oswald", sans-serif;
}

.movie-view h2 {
  font-size: 1.25em;
}

.movie-view h3 {
  font-size: 1em;
}

.movie-description {
  font-size: 1rem;
}

.fav-button {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  margin-top: 3rem;
}
